.dashboard {
    .small-block {
        background-color: #fff;
        padding: 20px;
        height: 120px;
        margin-bottom: 30px;

        .icon {
            position: absolute;
            width: 30%;
            color: $cms-color-1;
            top: 33px;
            font-size: 21px;
            left: 49px;
        }

        .block-body {
            position: relative;
            margin-left: 60px;

            .number {
                font-size: 32px;
                line-height: 37px;
                font-weight: 100;
                padding-top: 5px;
            }

            .text {
                color: $cms-dark-color-3;
            }
        }
    }

    h4 {
        padding-left: 20px;

        .fa {
            font-size: 24px;
        }
    }

    .table-container {
        background-color: #fff;
        height: 357px;
        overflow: hidden;
        margin-bottom: 20px;
    }
}

#table_wrapper tr.table-row:hover td {
    color: $cms-color-1;
    cursor: pointer;
}
