.card .div-dz-content{
	height:auto;
}
.candidate-drop-item{
  background-color: #f7f8fa;
  overflow:hidden;
  padding:10px;
  margin-bottom:10px;
}
.candidate-drop-item p {
  margin: 0px;
}
.candidate-drop-item a{
	vertical-align: middle;
}
.dz{
	min-height: 200px;
}
.offer-closed{
	color: #fc4b6c;
}