#sidebar{
  margin-top:100px;
}


.header-logo{
  position:fixed;
  top:0px;
  left:10px;
  z-index:10000;

  p{
    color: #fff;
    font-size: 24px;
    margin-left: 200px;
    position: absolute;
    top: 2px;
    left: 0px;
    width: 500px;
    font-weight: 100;
  }

}

#page-content{
    margin-left: 200px;
}

#page-leftbar {
    width: 200px;
}

#sidebar {
    margin-top: 100px;
    position: fixed;
    width: 200px;
}

.accordion-group .accordion-item .accordion-title h4{
  margin:0;
}

.toolbar.navbar-nav{
  padding:5px;
}

.img-preview img{
  max-width:100%;
}


.draft-btn{
  display:none;
}

.published-btn{
  display:none;
}

.mediaSelector .mediaSelector-content .selectorTable li{
    width: 120px;
    height: 110px;
}

.media-item {
    width: 100px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}


.leaftleft-map{
  width:100%;
  height:400px;
}

.leaflet-container{
    width: 100%;
    height: 100%;
}

.pages{
  text-align:center;
}

.dashboard .panel-scroll .panel-body{
  height:300px;
}

.sankey-container{
  height:500px !important;
  max-height:500px !important;
}
#sankey-chart{
  height:500px;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}


/*
iframe{
  background-color:#f00;
}

html{
  height:100%;
  background-color:#f00;

  body {
    height:100%;
  }
}
*/
