.backend {
    textarea,
    input {
        border-radius: none;
    }
}

.categories-panel{
  ul{
    padding-left: 10px;
    margin: 0;
    padding-bottom:15px;
    
    li{
      list-style-type :none;
      
    }
    
    ul ul{
       
        padding-left: 25px;
     }
  }
}
