[submodule "Modules/Architect"]
    path = Modules/Architect
    url = https://gitlab.iga.fr/syntesy/insurancearchitect.git
    branch = master

[submodule "Modules/Extranet"]
    path = Modules/Extranet
    url = https://gitlab.iga.fr/syntesy/insuranceextranet.git
    branch = master
