/vendor
/node_modules
/Modules/Architect/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.sass-cache/
/rec
/node_modules
/public/hot
/public/storage
/public/.htpasswd
/storage/*.key
/storage/debugbar
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
