[submodule "Modules/Architect"]
    path = Modules/Architect
    url = https://github.com/SyntesyDigital/InsuranceArchitect.git
    branch = dev

[submodule "Modules/Extranet"]
    path = Modules/Extranet
    url = https://github.com/SyntesyDigital/InsuranceExtranet.git
    branch = dev
