.medias {

    .medias-dropfiles {
        border: 2px dotted #dcdcdc;
        padding: 30px 50px;
    }

    .table {
        .thumbnail {
            max-width: 80px !important;
            max-height: 80px !important;
        }
    }
}
