form{
  .input-round{
    border-radius: 20px;
    -webkit-appearance: none;
    -webkit-border-radius: 20px;
  }
  #resume_file{
    border-radius:0px !important;
  }

  textarea.form-control {
    border-radius: 20px;
    -webkit-appearance: none;
    -webkit-border-radius: 20px;
  }

}
