body{
  .banner{
      &.home-banner{
        .banner-info-container{
          width: 475px;
          float: right;
          padding:70px 15px 0 15px;
          .banner-title{
            width:320px;
            margin:0 auto;
            .extra-red-text{
              color:$brand-red-color;
              @include font(85,90,600);
              padding:5px 10px;
            }
          }
          .search-input{
            @include font(16,50,100);
            height: 50px;
            padding-left:30px;
            margin-top:65px;
          }
          .btn{
            &.btn-red{
              padding: 15px 30px;
              margin-top:25px;
              @include font(14,16,400);
              i{
                margin-right:10px;
              }
              &.btn-search{
                margin-right:20px;
              }
            }
          }
        }
      }
  }
  h2{
    &.gray-square-text{
      color:$brand-white-color;
      background-color: $brand-dark-gray-color;
      @include font(26,30,500);
      padding:5px 10px;
    }
  }
  .three-offers-container{
    padding:50px 15px 30px;
    .offer-box{
      padding: 18px 0 0;
      text-align:center;
      -webkit-box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.75);
      margin-bottom:20px;
      .title{
        padding:0 42px;
        color:$brand-dark-gray-color;
        @include font(20,22,600);
        height:42px;
        margin-bottom:10px;
      }
      p{
        color:$brand-light-gray-color;
        @include font(12,14,300);
        margin-bottom:15px;
        height: 14px;
      }
      .buttons{
        margin-bottom:20px;
        a{
          &.btn{
            padding: 6px 28px;
          }
        }
      }
      .detail{
        width:100%;
        padding: 15px;
        color:$brand-white-color;
        @include font(18,20,600);
        background-color: $brand-dark-gray-color;
        cursor:pointer;
        text-decoration: none;
        &:hover{
          background-color: $brand-red-color;
          cursor:pointer;
          text-decoration: none;
        }
      }
    }


    .offer-box-right, .offer-box-center, .offer-box-left{
      max-width: 350px;
      margin:0 auto;
    }
    @include mq(md){
      .offer-box-right{
        padding: 5px 0 5px 33px;
      }
      .offer-box-center{
        padding: 5px 17px 5px 17px;
      }
      .offer-box-left{
        padding: 5px 33px 5px 0;
      }
      .offer-box{
        height:195px;
      }
    }
  }

  .gray-information-container{
    background-color: $gray-background;
    padding:50px 0 0;
    .home-square{
      .gray-square-text{
        width: 375px;
      }

    }
    .img-bwo{
      height: 180px;
      width:  330px;
      margin:0 auto;
      background-repeat: no-repeat;
      background-size: cover;
      @include mq(md){
        float:right;
        margin:0 50px 0 0;
      }
    }
  }

  .doble-bk-information-container{
    @include mq(md){
      background: linear-gradient(90deg, #b6b6b6 50%, #fff 50%);

      .home-square{
        padding:0 30px 50px;
        &.home-square-gray{
          float:left;

        }
        &.home-square-white{
          float:right;
        }
      }
      @include mq(940){
        .home-square{
          &.home-square-gray{
            padding:0 15px 50px 0;
          }
          &.home-square-white{
            padding:0 0 25px 30px;

          }
        }
      }
    }

    .home-square-gray{
      background: #b6b6b6;
      h2{
        max-width:380px;
      }
      .centered{
        margin-top:20px;
        i{
          margin-right:10px;
        }
      }
    }
    .home-square-white{

      h2{
        max-width:460px;
        margin-bottom:20px;
        @include mq(md){
          max-width: 100%;
          margin-bottom:10px;
        }
      }
      .post-box{
        @include mq(md){
          max-width: 100%;
        }
        padding: 20px;
        -webkit-box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.75);
        margin-bottom:20px;

        .title{
          color: $brand-dark-gray-color;
          @include font(20, 22, 600);
          margin-bottom: 5px;
        }
        .date{
          color:$brand-light-gray-color;
          @include font(12,14,300);
          margin-bottom:10px;
          height: 14px;
        }
        .read-more{
          text-decoration:none;
          color:$brand-red-color;
        }
      }
    }

  }
}
.home-square{
  padding:15px 30px 50px;
  p{
    color:$brand-dark-gray-color;
    @include font(14,16,300);
    &.subtitle{
      @include font(16,18,600);
      margin-bottom:20px;
      margin-top: 15px;
    }
  }
}
.centered{
  text-align: center;
}
