html{
  height: 100%;
  box-sizing: border-box;
}

header{
  padding: 10px 20px 0px;
  .menus{
    width:100%;
    .navbar-menu-user{
      float:right;
    }
    .navbar-menu-main{
      float:left;
    }
    @include mq(xs){
      width:485px;
      float:right;
      .navbar-menu-user{
        float:none;
      }
      .navbar-menu-user{
        float:none;
      }
    }

    .navbar{
      margin-bottom:0px;
      min-height: 38px;
      .navbar-header-user, #user-menu{
        float:right;
      }
      #btn-user-menu{
        i{
          font-size:30px;
          &:hover{
            color:$brand-red-color;
          }
        }
      }
      #btn-main-menu{
        i{
          font-size:30px;
          &:hover{
            color:$brand-red-color;
          }
        }
      }
      .navbar-collapse{
        padding-right:0px;
      }
      #user-menu{
        li{
          a{
            &.btn{
              padding: 5px 13px;
            }
          }
        }
      }
      .navbar-header-main, #main-menu{
        float:left;
        @include mq(xs){
          float:right;
        }
      }
      li{
        list-style-type: none;
        a{
          margin:0 5px;
          text-decoration:none;
        }

      }
      #main-menu{
        padding-left:0px;
        ul{
          padding-left:0px;
          li{
          a{
            color:$brand-black-color;
            margin:0 14px;
            &:hover{
              color:$brand-red-color;
            }
          }
          &.active{
            a{
              color:$brand-red-color;
            }
          }
        }
        }
      }

    }

  }
  .logo-container{
    overflow: hidden;
  //  width: 130px;
    margin: 0 auto;
  //  height: 85px;
    #logo-big{
      display: none;
    }
    #logo-resp{
      display: block;
    }
    @include mq(xs){
      margin: 0;
      @include mq(870){
      //  width:431px;
        #logo-big{
          display: block;
        }
        #logo-resp{
          display: none;
        }
      }
    }
    .corporatiu{
        text-align: center;
        @include mq(xs){
          text-align: left;
        }
        img{
          width: 260px;
          @include mq(870){
            width:431px;
          }
        }
    }

  }
}


body {
  font-family: $brand-font-1;
  background-color: $body-bg;
  color:$brand-black-color;
  position:relative;
  /* 16px / 24px */
  font-size: 14px;
  line-height: 16px;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing:0px;

  position:relative;
  box-sizing: border-box;
  margin: 0;
  min-height: 100%;


  .banner{
     height: 537px;
     background-repeat: no-repeat;
     background-size: cover;
     &.banner-small{
       height:228px;
     }
  }


  /* Display list items side by side */
  ul{
    &.breadcrumb{
      list-style: none;
      background-color: transparent;
      padding: 0px 5px;
      li{
        display: inline;
        @include font(12,20,400);
        a {
          color: $brand-black-color;
          text-decoration: none;
          &:hover {
            color: $brand-red-color;
            text-decoration: none;
          }
        }
      }
      li+li:before {
        padding: 2px;
        color: black;
        content: "/\00a0";
      }

    }
  }
  .pagination-container{
    padding:15px;
    width:100%;
    text-align:center;
    a{
      text-decoration: none;
      color:$brand-dark-gray-color;
      @include font(16,18,600);
      margin:0 5px;
      &:hover, &.active{
        color:$brand-red-color;
      }
      .round{
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.75);
        height: 18px;
        width:18px;
        i{
          @include font(16,18,600);
        }
      }
    }
  }
  .offers-3-container{
    background-color: white;
    padding:10px;
    .horizontal-inner-container{
      -webkit-box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 41px -8px rgba(0,0,0,0.75);
      padding:20px;

    }
    h2{
      @include font (18,18,600);
      color:$brand-dark-gray-color;
      text-align:center;
      margin-bottom:25px;
    }
  }

}

footer{
    padding:25px 15px;
    background-color: $brand-dark-gray-color;
    text-align: center;
    .footer-logo{
      width:125px;
      height:69px;
      margin:0 auto;
    }
    .footer-info{
      text-align: center;
      .second-line-footer{

        .footer-social{
          width: 75px;
          position: relative;
          top: -280px;
          float:right;
          @include mq(xs){
            top: 0;
          }
          a{
            font-size:18px;
            color:#fff;
            .fa-facebook{
              background-color:#3b5998;
              padding: 3px 6px 1px;
            }
            .fa-linkedin{
              background-color:#0077b5;
              padding: 2px 3.5px;
            }
            .fa-viadeo{
              background-color:#f07355;
              padding: 2px 3.5px;
            }
          }
        }
        .footer-copyright{
          font-size:12px;
          color:$brand-white-color;
          //position: relative;
          //right: -75px;
          //@include mq(xs){
        //    right: 0;
        //a  }
          a{
            text-decoration:none;
            color:$brand-white-color;
            &:hover{
              color:$brand-red-color;
            }
          }
        }
      }
      .first-line-footer{
        overflow: hidden;
        ul{

          li{
            list-style-type: none;
            margin:0 auto;
            a{
              text-decoration:none;
              color:$brand-white-color;
              &:hover{
                color:$brand-red-color;
              }
            }
          }
        }
      }
    }

    @include mq(xs){
      text-align: left;
      .footer-logo{
        float:left;
      }
      .footer-info{
        overflow: hidden;
        text-align: right;
        .second-line-footer{
          .footer-social{
            float: right;
          }
          .footer-copyright{
            padding: 8px 10px;;
            float: right;
          }
        }
        .first-line-footer{
          ul{
            float:right;
            li{
              margin-left:30px;

            }
          }
        }
      }

    }
}
