body{
  .banner{
    h1{
      background-color: $brand-dark-gray-color;
      color:$brand-white-color;
      float:left;
      @include font(40,50, 600);
      padding: 0 7px;
      margin:20px 0 20px 0;
    }
  }
  .posts-container{
    .post-container{
      background-color: white;
      padding:10px;
      margin-top: -80px;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
      margin-bottom:20px;
      h1{
        @include font(34,40,600);
        text-align: center;
        color:$brand-dark-gray-color;
        margin-bottom: 30px;
      }
      .description{
        padding: 5px 45px;
        color:$brand-dark-gray-color;
        @include font(12,18,400);
        img{
          max-width: 100%;
        }
        .first-line{
          padding:0px;
          .share-container{
            float:right;
          }
          .first-info{
            @include font(12,18,100);
            text-align: left;
            color:$brand-dark-gray-color;
            margin-bottom:35px;
            float:left;
            .btn-soft-gray{
              margin-right: 10px;
              padding: 8px 20px;
            }
          }
        }
        .subtitle{
          @include font(24,26,400);
          margin: 20px 0 5px;
          color:$brand-light-gray-color;
        }
      }
    }
  }
.other-posts{
  margin-top: 40px;
  h3{
    padding: 0 34px;
    @include font(16,18,600);
    color:$brand-dark-gray-color;
  }
  .post-box{
    @include mq(md){
      max-width: 100%;
    }
    padding: 20px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    margin-bottom:20px;

    .title{
      color: $brand-dark-gray-color;
      @include font(20, 22, 600);
      margin-bottom: 5px;
    }
    .date{
      color:$brand-light-gray-color;
      @include font(12,14,400);
      margin-bottom:5px;
      height: 14px;

      a {
        color:$brand-light-gray-color;
      }

    }
    p{
      color:$brand-dark-gray-color;
      @include font(12,18,400);

    }
    a.read-more{
      text-decoration:none;
      color:$brand-red-color;
    }

  }
  .left-post-container, .right-post-container{
    padding:10px 15px;
  }
  @include mq(md){
    h3{
      padding: 0 35px;
    }
    .left-post-container{
      padding-left: 5px;
    }
    .right-post-container{
      padding-right: 5px;
    }
  }
}

}
