
$assetPath : "/images";

// Body
$body-bg: #fff;
$gray-background:#e0dfc7;

// colors
$brand-black-color : #000; //dark
$brand-white-color : #fff; //light gray
$brand-dark-gray-color : #666666; //dark gray
$brand-light-gray-color : #d3d1ae; //light gray
$brand-footer-light-gray-color : #d2d1ad;
$brand-lightest-gray-color : #e0dfc7; //lightesr gray

$brand-red-color: #ff0000;

$brand-color-1 : #7d7c7c; //gray blue baackground buttons
$brand-color-2 : #c41a1b; //dark red, buttons


$brand-font-1 : Roboto;
