.offer-page {
    .horizontal-inner-container {
        padding:0;
        @include mq(672px){
            padding:0 30px;
        }
        margin-top: 20px;

        .right-column {
            color: #000;

            .offer-description-box {
                padding: 10px ;
                margin-bottom: 20px;
                position: relative;

                h2 {
                    @include font(23,27,600);
                    margin: 0 0 10px;
                }

                p {
                    @include font(18,22,400);
                    span{
                        color:$brand-color-2;
                        font-weight:600;
                    }
                }

            }

            .buttons-sections {
                text-align: center;
                margin-bottom: 20px;

                .btn {
                    @include font(22,24,300);
                    padding: 5px 20px;
                }

                .btn-secondary {
                    padding: 7px 12px;
                }
            }

        }
        .social-icons-list {
            width: 33px;
            position: relative;
            left: -26px;
            top: 50px;
            height: 242px;
            margin-bottom: -242px;

            .social-icon {
                margin-bottom: 15px;
                position: relative;

                &:focus,
                &:hover {
                    left: -6px;
                }
            }
        }
        .left-column {

            h4 {
                @include font(23,27,600);
                font-family: $brand-font-1;
                margin: 0 0 20px;
            }

            .details-box {
                margin-top: 10px;
                margin-bottom: 20px;
                padding: 25px;
                background-color: $brand-light-color-3;
                color: #000;

                .detail-description {
                    margin-bottom: 10px;
                    p {
                        @include font(16,20,400);
                        font-family: $brand-font-1;
                        text-align: left;
                        margin-bottom: 0px;
                        &.bold{
                            @include font(16,20,600);
                        }
                        span{
                            color:$brand-color-2;
                        }
                    }
                }

                #map-container {
                    height: 300px;
                    width: 100%;
                }
            }

            .location-box {
                margin-top: 10px;
                margin-bottom: 20px;
                background-color: $brand-color-3;
                color: $brand-dark-color-1;

                h4 {
                    @include font(25,27,400);
                    font-family: $brand-font-1;
                    margin: 0 0 20px;
                }
            }
        }
    }
}

.offers-separator {
    border-bottom: 1px solid $brand-color-3;
    margin: 0 15px;
    @include mq(672px){
        margin:0px;
    }
}

.related-offers-title{
    text-transform:uppercase;
    @include font(23,25,600);
    text-align: center;
    color: #000;
    margin:20px 0 0px;
    span{
        color:$brand-color-2;
    }

}
.loader {
    height: 40px;
    width: 40px;
    display: none;
}

.offer-page .horizontal-inner-container .left-column .unactivated {
    opacity: 0.6;
    @include font(15,34,600)
}

.offer-page .horizontal-inner-container .right-column .buttons-sections .unactivated {
    opacity: 0.6;
    @include font(15,34,600);
    width: 350px;
}
.pleft-30{
    padding-left:30px;
}
.fullwidth{
    width:100%;
    height: auto;
}
.agence-image-div{
    text-align: center;
}
