.search-results{
  margin-top: -40px;
  &.margin-top-auto{
    margin-top:250px;
    @include mq(672px){
      margin-top:110px;
    }
  }
  .horizontal-inner-container{
    padding:0;
    .no-offers{
      padding-top: 60px;
      text-align:center;
      @include font(20,20,400);
    }
    .offer-box{
        background-repeat: no-repeat;
        background-position : bottom right;
        background-color: $brand-light-color-3;
        background-size: auto;
        min-height: 230px;
        max-height: 230px;
        padding:20px;
        margin-bottom: 20px;
        h4{
            @include font(23,26,400);
            color:$brand-color-2;
            text-align:left;
            margin:0 0 20px;
            text-transform: uppercase;
        }
        p{
          color:$brand-light-color-2;
          margin-bottom:16px;
          @include font(15, 18, 600);
          &.description{
            @include font(15, 18, 400);
            }
          i{
              @include font(20, 18, 600);
              margin-right: 10px;
              &.fa-star{
                margin-left:20px;
              }
              &.fa-file-o{
                margin-left:20px;
              }
          }
        }
        .btn{
            width:105px;
            text-align:center;
            padding: 3px 2px;
            margin: 5px 10px 0 0px;
            &.unactivated{
              width:120px;
              background-color:$brand-light-color-1;
              cursor:default;
            }
        }
    }

    .values{
      margin:10px 0;
      .text-values{
        background-color: $brand-light-color-2;
        min-height:240px;
        padding:20px 30px;
        background-position: -360px;
        background-repeat: no-repeat;
        @include mq(672px){
          padding: 20px 260px 20px 30px;
          background-size: 260px 100%;
          background-position: right;
          background-repeat: no-repeat;
        }
        color:#fff;
        h4{
          @include font(50,50,300);
        }
        p{
          padding-left:5px;
          @include font(17,22,400);
        }
      }
      .img{
          width: 260px;
          position: absolute;
          right: 15px;
          top: 0;
          height: 100%;
          background-size:cover;
          background-repeat:no-repeat;
          display:none;
          @include mq(672px){
            display:block;
          }
      }
    }
  }
}
