.text-core {
  position: relative;
}
.text-core .text-wrap {
  background: #fff;
  position: absolute;
}
.text-core .text-wrap textarea,
.text-core .text-wrap input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid transparent;
  border-bottom: 1px solid #9daccc;

  outline: none;
  resize: none;
  position: absolute;
  z-index: 1;
  background: none;
  overflow: hidden;
  margin: 0;
  padding: 3px 5px 4px 5px;
  white-space: nowrap;
  font: 11px "lucida grande", tahoma, verdana, arial, sans-serif;
  line-height: 20px;
  height: auto;
  min-width: 300px;
}

.text-core .text-wrap .text-dropdown {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  z-index: 3;
  background: #fff;
  border: 1px solid #9daccc;
  width: 100%;
  max-height: 100px;
  padding: 1px;
  font: 11px "lucida grande", tahoma, verdana, arial, sans-serif;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.text-core .text-wrap .text-dropdown.text-position-below {
  margin-top: 1px;
}
.text-core .text-wrap .text-dropdown.text-position-above {
  margin-bottom: 1px;
}
.text-core .text-wrap .text-dropdown .text-list .text-suggestion {
  padding: 3px 5px;
  cursor: pointer;
}
.text-core .text-wrap .text-dropdown .text-list .text-suggestion em {
  font-style: normal;
  text-decoration: underline;
}
.text-core .text-wrap .text-dropdown .text-list .text-suggestion.text-selected {
  color: #fff;
  background: #6d84b4;
}

.text-core .text-wrap .text-tags {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3px 35px 3px 3px;
  cursor: text;
  min-width: 280px;
}
.text-core .text-wrap .text-tags.text-tags-on-top {
  z-index: 2;
}
.text-core .text-wrap .text-tags .text-tag {
  float: left;
}
.text-core .text-wrap .text-tags .text-tag .text-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin: 0 2px 2px 0;
  cursor: pointer;
  font: 11px "Roboto", Helvetica, Arial, sans-serif;
  text-transform: none;
  background-color: #1e88e5;
  font-size: 12px;
  margin-right: 2px;
  color: white;
  border-radius: 10px;
  padding: 5px 12px;
  font-weight: bold;
  margin-right: 5px;
}
.text-label{
  margin-right:13px;
}
.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove {
  position: absolute;
  right: 8px;
  top: 4px;
  display: block;
  width: 11px;
  height: 11px;
  font-weight: bold;
}
.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove:after {
  content: "x";
  padding: 0px 2px;
  color: white;
  text-decoration: none;
}

.remove-file-click{
  cursor:pointer;
  margin-left: 10px;
}
.filename-small{
  display:block;
}

.filter-tags-container{
  .input-div{
    width:240px;
    float:right;
    label{
      .text-core{
        .text-wrap{
          textarea{
            min-width:240px;
            display: inline-block;
          }
        }
      }
    }
  }
  .button-div{
    float:left;
    padding-top: 15px;
    margin-left: 30px;
  }


}