.filefields-list{
  margin-bottom : 0px;
}
.filename-list{
  color : #000 !important;
  margin:5px 0;
}
.filename-list-last{
  margin-bottom :5px;
}
.edit-action{
  margin-right: 10px;
  cursor:pointer;
}
.save-filelist-btn{
  margin: 56px 36px 26px 36px;
}
#filename-p{
	display:none;
}