.candidate-page .field-group{
	.btn-link {
		width: 100%;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    background-color: #dadada;
    text-decoration: none;
    margin: 0;

	}

	.field-name {
		color: #455660;
		padding-left: 10px;
		text-transform: capitalize;
		font-size: 18px;
		line-height: 20px;
		font-weight: 400;
	}

	.field-form {
    padding: 20px 20px 20px 30px;
		border-left: 2px solid #ccc;
	}

	div.btn:not(.collapsed):before {
	  content: "\25BE";
	  margin-right: 0px;
	  position: absolute;
	  top: 9px;
	  right: 19px;
	  font-size: 18px;
	  color: #455660;
	}

	div.btn.collapsed:before {
	  content: "\25B8";
	  margin-right: 0px;
	  position: absolute;
	  top: 9px;
	  right: 19px;
	  font-size: 18px;
	  color: #455660;
	}

	#collapsematricule {
		.btn {
			margin:0;
		}
	}

}

.file-form {
	height: auto;

	label {
		display: block;
	}

	.medias-dropfiles {
    background-color: #fafafa;
    border: 1px dashed #ccc;
    cursor: pointer;
    padding: 30px 20px;

    p{
      pointer-events: none;
    }

    &:hover {
      border: 1px dashed $brand-primary;
    }

  }

	.file-wrapper {
		background-color: #fafafa;
		border: 1px dashed #ccc;
		cursor: pointer;
		padding: 20px 20px 10px;
		text-align: center;

		a {
			word-break: break-all;
		}

		.text-danger {
			padding: 0;
		}
	}

}

.tags-filter {
	width: 30%;
}

.select2-container--default .select2-selection--multiple {
	border-radius: 0px !important;
	background-color: #fafafa !important;
	border: 1px solid #ccc !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: $brand-primary !important;
}
