.form-hierchical-select {
    label {
        position: absolute;
        top: -12px;
        font-size: 11px;
        line-height: 1.2;
    }
}

.hierarchy-select.btn-group {
    .btn.btn-default,
    .btn.btn-default:focus,
    .btn.btn-default:hover {
        background-color: transparent;
        color: $cms-dark-color-1;
        padding: 5px;
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid #D2D2D2;
        border-radius: 0 !important;
        min-height: 30px;
    }
    @mixin padding-left($level) {
        li[data-level='#{$level}'] > a {
            padding-left: $level * 20px;
            margin: 0;
        }

        li[data-level='#{$level}'] > span {
            padding-left: $level * 20px;
        }
    }

    .dropdown-menu {
        @for $i from 2 through 10 {
            @include padding-left($i);
        }
    }

    .dropdown-header {
        padding: 3px 0;

        span {
            padding-left: 20px;
        }
    }
}
