.medias-dropfiles {
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    border: 2px dotted #efefef;
    // line-height: 200px;
    padding-top: 80px;
    margin-bottom: 20px;
}
