
.mediaSelector {
  padding-top: 15px;

  .form {
      // img {
      //     max-height: 160px;
      // }
      // .image-preview {
      //   height: 160px;
      // }
  }

  .pagination {
    text-align: center;
  }

  .filedropzone {
      background-image: url("/images/backend/glissezoff.png");
      background-repeat: no-repeat;
      background-position: center center;
      height: 200px;
      border: 2px dotted #efefef;
  }

  .filedropzone.active {
      background: none;
      background-image: url("/images/backend/glissezon.png");
      background-repeat: no-repeat;
      background-position: center center;
      border: 2px dotted #efefef;
  }

  .mediaSelector-content {
      overflow-y: scroll;
      position:relative;
      max-height:500px;

      .selectorTable {
          position: relative;
          display: table;
          /*border-right: 1px solid #efefef;*/

          li {
              position: relative;
              display: table-cell;
              width: 110px;
              height: 110px;

              img {
                 max-height: 80px;
                 max-width: 100px;
             }

             a {
               display: block;
               width: 110px;
               height: 110px;
               text-align: center;
             }

             p {
              padding: 0;
              margin: 0;
              text-align: center;
              font-size: 10px;
            }

          }
      }
  }

}


/**/
