.sitelist {

    .dragable-option .form-group .form-control{
      border:none !important;
    }

    .dashed-border{
    	border: 1px dashed #ccc;
    	padding : 10px;
    }

    .content-field-dropper {
        padding: 20px;
        padding-bottom: 0px;
    }
    .ajouter-element{
      width: 100%;
      text-align: center;
      a{
        @include font(14,19,400);
        padding: 10px;
      }
    }
    #ajouter{
    	cursor:pointer;
    	padding: 5px;
    }

    #ajouter h2{
    	margin-top:10px;
    }
    .input-name-option{
    	font-weight: bold;
        font-size: 14px;
        width: 90%;
        float:left;
        margin-bottom:0px;
    }
    .input-value-option{
    	width: 90%;
        margin-bottom:5px;
    }
    .remove-action{
    	cursor:pointer
    }

    /*DRAG AND DROP */
    [draggable] {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      /* Required to make elements draggable in old WebKit */
      -khtml-user-drag: element;
      -webkit-user-drag: element;
    }
    .dragable-option{
    	cursor:move;

      border: 1px solid #ccc;
      position: relative;
      height: 50px;
      overflow: hidden;
      margin-bottom: 15px;
      background-color: #fafafa;
      border-radius: 6px;

    }

    .tool-box{
      position: absolute;
      top: 0px;
      right: 0px;
      width: 150px;
      text-align: right;

      a {
        font-size: 12px;
        line-height: 50px;
        font-weight: 400;
        display: inline-block;
        color: #fc4b6c;
      }

    }

    .content-add {

      padding-right: 170px;
      padding-left: 20px;


      input {
        width: 45%;
        margin-right: 5%;
        height: 38px;
      }
    }

    /* END DRAG AND DROP */

    .page-row {
      border: 1px dashed #ccc;
      text-align: center;
      width: 100%;
      padding: 10px 5px;
      margin-bottom: 0px;
      min-height: 90px;

    }

    .form-group.form-group-lg {
      padding-bottom: 0px !important;
    }

}
