.box-button-container-a{
  width: 100%;
  &:hover{
    text-decoration: none;
  }
  .box-button-container{

    &:hover{
      color:$primary-color;
      text-decoration: none;
      /*border: 1px solid $primary-color;*/

    }

  }
}
.box-button-container{
  color:$secondary-color;
  background-color: #fff;
  /*
  border: 1px solid $secondary-color;
  */
  padding: 20px 40px;
  text-align: center;
  width: 100%;
  border-radius: 12px;
  min-height: 125px;
  i{
    font-size:40px;
    line-height: 40px;
    margin-bottom:5px;
  }
  p{
    @include font(18,18,300);
    margin-bottom: 0;
  }
}
