.btn{

  background-color:$brand-light-color-1;
  @extend .rounded;
  text-transform:uppercase;
  padding:9px 28px;
  @include font(14,16,400);
  color:#000;
  border:none;

  @extend .animate;

  &:hover {
    background-color:$brand-dark-color-2;
    color:#fff;
    outline: none;
  }

  &:focus, &:active, &:active:focus {
    background-color:$brand-light-color-1;
    color:#000;
    outline: none;
  }

  &.selected {
    background-color:$brand-dark-color-2;
    color:#fff;
  }

  &:visited{
    background-color:auto;
  }

}
