.element-table-container{
  margin:20px 0;
  .element-table-container-head{
    background-color: $sidebar-background-color;
    @include font(16,21,400);
    text-transform: uppercase;
    padding:10px 15px;
  }
}


//CSS TABLE MODIFICATIONS
.react-grid-Grid>div{
      position: initial;
}
/*
.noHeaderWrapper .react-grid-Header {
  display: none !important;
}
.noHeaderWrapper  .react-grid-Viewport {
  top: 0px !important;
}*/
