.element-form-container{
  margin: 20px 0;
  background-color: $elements-background-color;
  padding:40px 20px;
  .element-form-row{
    margin:15px 0;
    label{
      padding:7px 0;
      span{
        color:$secondary-color;
      }
    }
    .buttons{
      margin-top:20px;
      padding-bottom: 20px;
      .btn{
        margin:10px 0;
      }
      .btn-back{
        border:1px solid $primary-color;
        &:hover{
          background-color: $sidebar-background-color;
          border-color: $sidebar-background-color;
          color: $primary-color
        }
      }
    }
  }
}

@media (min-width: 768px){
  .element-form-container{
    .element-form-row{
      label{
        float: right;
      }
      .buttons{
        margin-top:40px;
        .left{
          float:left;
        }
        .right{
          float:right;
        }
      }
    }
  }
}
