.total-box-container-a{
  width: 100%;
  color:$primary-color;
  &:hover{
    text-decoration: none;
  }
  /*.box-button-container{
    &:hover{
      color:$primary-color;
      text-decoration: none;
      border: 1px solid $primary-color;

    }
  }*/
}

.total-box-container{
  color:$primary-color;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  padding: 20px 40px;
  text-align: left;
  border-radius: 12px;
  min-height: 125px;

  .title{
    @include font(16,18,300);
    i{
      margin-right: 4px;
    }
  }
  .totalBox{
    padding:0 20px;
    @include font(30,35,400);
  }
}
