html{
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: $brand-font-1;
  background-color: $body-bg;
  color:$brand-dark-color-1;
  position:relative;

  /* 16px / 24px */
  font-size: 14px;
  line-height: 16px;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing:0px;

  position:relative;
  box-sizing: border-box;
  margin: 0;
  min-height: 100%;

}

form.nova-cerca{
  overflow:inherit !important;
}

/*
article.page-builder{
  overflow: hidden;
}
*/

.carousel-inner > .item {
  height:250px !important;
  .carousel-caption {
      background-color: rgba(0,0,0,0.3);
      color:#fff;
      padding-left: 80px;
  }
}

.blog #number, .blog a, .blog a:hover, .blog a:visited, .blog .opcions a, .blog h1, .blog h3, .blog .list-items ul a, .blog .list-items ul a:hover, .blog .list-items ul a:visited {
  color: rgb(198, 76, 44) !important;
}

.blog #number, .blog a, .blog a:hover, .blog a:visited, .blog .opcions a, .blog h1, .blog h3, .blog .list-items ul a, .blog .list-items ul a:hover, .blog .list-items ul a:visited {
  color: rgb(198, 76, 44);
}

.list-blog {
  .post {
      padding:10px;
  }
  .cat-Juridique, .cat-Juridico {
      background-color:rgba(198,76,44,0.8);
      a {
        color:#fff !important;
      }

      h3 a {
        color:#fff !important;
      }
  }

}






.navbar-nav.navbar-right {
  width: 100px !important;
}

.corporatiu img {
  width: 100px !important;
}

.intranet {
  position: absolute;
  top: 30px;
  left: 170px;
  text-transform: uppercase;
  color: #b0acaa;

  &:before {
    content: '';
    position: absolute;
    top: -38px;
    left: -20px;
    border-left: 1px solid #c54a2b;
    height: 60px;
  }

}

.buscar input {
  border: 1px solid #464646 !important;
}
