@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.horizontal-container {
  max-width: 100%;
  margin: 0 auto;
}

.horizontal-inner-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
  display: inline-block;
}

b {
  font-weight: bold;
}

.separator {
  clear: both;
  font-size: 1px;
  line-height: 0;
  height: 1px;
  pointer-events: none;
}

.rounded {
  border-radius: 200px;
}

.uppercase {
  text-transform: uppercase;
}

.animate {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.box-sizing,
div,
header,
footer,
aside,
section,
article,
h1,
h2,
h3,
p,
form,
a,
ul,
li {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

div,
header,
footer,
aside,
section,
article,
h1,
h2,
h3,
p,
form,
a,
ul,
li {
  position: relative;
  vertical-align: top;
}

.badge-notify {
  background: red;
  position: relative;
  top: -20px;
  left: -35px;
  padding: 3px 5px;
  font-size: 10px;
  right: 8px;
  top: -11px;
  left: auto;
}

.bg-white {
  background-color: #fff;
}

.background-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0px;
  left: 0px;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

#map-container {
  min-height: 400px;
}

.kanban {
  min-width: 1720px;
}

.kanban .card-container {
  width: 340px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.kanban .card-container .card-title {
  font-size: 20px;
  padding-left: 7px;
  color: #000;
}

.kanban .card-container .card {
  background: transparent;
  border: 1px solid #B0C5D1;
  height: calc(100vh - 250px);
}

.kanban .card-container .card .card-body {
  padding: 7px 15px;
}

.kanban .card-container .card .card-body .candidate-drop-item {
  margin: 7px 0;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #DCE5EA;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.kanban .card-container .card .card-body .candidate-drop-item p {
  font-size: 14px;
  line-height: 19px;
  font-weight: 100;
  margin: 0;
  color: #707070;
}

.kanban .card-container .card .card-body .candidate-drop-item p a {
  padding: 2px 8px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 100;
  color: #707070;
  text-transform: none;
}

.kanban .card-container .card .card-body .candidate-drop-item p a.pink {
  color: #FA5070;
  border-color: #FA5070;
}

.kanban .card-container .card .card-body .candidate-drop-item p a.pink .fa {
  color: #FA5070;
}

.kanban .card-container .card .card-body .candidate-drop-item p a .fa {
  top: 0px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 100;
}

.sitelist {
  /*DRAG AND DROP */
  /* END DRAG AND DROP */
}

.sitelist .dashed-border {
  border: 1px dashed #acacac;
  padding: 10px;
}

.sitelist .content-field-dropper {
  border: 1px dashed #acacac;
  padding: 20px;
}

.sitelist #ajouter {
  cursor: pointer;
  padding: 5px;
}

.sitelist #ajouter h2 {
  margin-top: 10px;
}

.sitelist .input-name-option {
  font-weight: bold;
  font-size: 18px;
  width: 90%;
  float: left;
  margin-bottom: 0px;
}

.sitelist .input-value-option {
  width: 90%;
  margin-bottom: 5px;
}

.sitelist .remove-action {
  cursor: pointer;
}

.sitelist [draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.sitelist .dragable-option {
  cursor: move;
}

.field-group .btn-link {
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 0px !important;
  background-color: #dadada;
  text-decoration: none;
  margin: 0;
}

.field-group .field-name {
  color: #455660;
  padding-left: 10px;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.field-group .field-form {
  padding: 20px 20px 20px 30px;
  border-left: 2px solid #ccc;
}

.field-group div.btn:not(.collapsed):before {
  content: "\25BE";
  margin-right: 0px;
  position: absolute;
  top: 9px;
  right: 19px;
  font-size: 18px;
  color: #455660;
}

.field-group div.btn.collapsed:before {
  content: "\25B8";
  margin-right: 0px;
  position: absolute;
  top: 9px;
  right: 19px;
  font-size: 18px;
  color: #455660;
}

.field-group #collapsematricule .btn {
  margin: 0;
}

.file-form {
  height: auto;
}

.file-form label {
  display: block;
}

.file-form .medias-dropfiles {
  background-color: #fafafa;
  border: 1px dashed #ccc;
  cursor: pointer;
  padding: 30px 20px;
}

.file-form .medias-dropfiles p {
  pointer-events: none;
}

.file-form .medias-dropfiles:hover {
  border: 1px dashed #4a9fea;
}

.file-form .file-wrapper {
  background-color: #fafafa;
  border: 1px dashed #ccc;
  cursor: pointer;
  padding: 20px 20px 10px;
  text-align: center;
}

.file-form .file-wrapper a {
  word-break: break-all;
}

.file-form .file-wrapper .text-danger {
  padding: 0;
}

.tags-filter {
  width: 30%;
}

.select2-container--default .select2-selection--multiple {
  border-radius: 0px !important;
  background-color: #fafafa !important;
  border: 1px solid #ccc !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #4a9fea !important;
}

#customer_users {
  margin-left: -30px;
  margin-right: -40px;
}

#customer_users .fields-list-container {
  border: none;
  margin-bottom: 0px;
  padding-bottom: 0px !important;
}

#customer_users .add-content-button {
  border: 1px dashed #ccc;
  padding: 0 20px;
  margin-left: 0px;
  text-align: center;
  margin-right: 0px;
}

#customer_users .field-type {
  font-weight: 300 !important;
  color: #b4b4b4 !important;
  text-align: left;
}

#customer_users .field-inputs .field-name {
  line-height: 18px;
  text-align: left;
  padding-left: 30px;
  height: 18px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#customer_users.images-field .image {
  width: 51px;
  height: 40px;
  background-size: cover;
  position: absolute;
  top: 5px;
  left: 155px;
}

#customer_users.images-field .field-name {
  padding-left: 60px;
}

#customer_users .typology-field {
  border: 1px solid #ccc;
  position: relative;
  height: 50px;
  overflow: hidden;
  margin-bottom: 15px;
  background-color: #fafafa;
  border-radius: 6px;
}

#customer_users .typology-field .form-group .form-control,
#customer_users .typology-field .form-group .cke_textarea_inline {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 10px;
}

#customer_users .typology-field .field-type {
  display: inline-block;
  width: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  line-height: 50px;
  font-weight: 500;
  padding-left: 32px;
  border-right: 1px solid #ccc;
}

#customer_users .typology-field .field-type i.fa {
  position: absolute;
  top: 16px;
  left: 10px;
  font-size: 16px;
  padding-right: 10px;
  color: #b4b4b4;
}

#customer_users .typology-field .field-inputs {
  position: relative;
  padding-left: 14px;
  padding-right: 38px;
  padding-top: 5px;
  cursor: pointer;
}

#customer_users .typology-field .field-inputs:hover .field-name {
  color: #4a9fea;
}

#customer_users .typology-field .remove-field-btn {
  color: #fc4b6c;
}

#customer_users .typology-field .field-name:first-child {
  font-weight: 500;
}

#customer_users .typology-field .field-actions {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

#customer_users .typology-field .field-actions a {
  font-size: 12px;
  line-height: 50px;
  font-weight: 400;
  display: inline-block;
}

#customer_documents .fields-list-container {
  padding: 0px;
}

#customer_documents .typology-field .field-name {
  line-height: 46px;
  text-align: left;
  padding-left: 15px;
  height: 46px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#customer_documents .typology-field .field-inputs {
  padding-right: 100;
}

#customer_documents .typology-field .field-actions {
  width: 80px;
}

#customer_documents .typology-field i.fa {
  font-size: 16px;
  padding-right: 10px;
}

#customer_documents .fields-list-container {
  border: none;
}

#customer_documents .image-col .image {
  background-color: #fafafa;
  border: 1px dashed #ccc;
  cursor: pointer;
  padding: 30px 20px;
}

#customer_documents .image-col .image p {
  pointer-events: none;
}

#customer_documents .image-col .image:hover {
  border: 1px dashed #4a9fea;
}

