#customer_documents {

  .fields-list-container{
    padding:0px;
  }

  .typology-field {



    .field-name {
      line-height: 46px;
      text-align: left;
      padding-left: 15px;
      height: 46px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .field-inputs {
      padding-right:100;
      
    }

    .field-actions {
      width:80px;
    }

    i.fa{
      font-size: 16px;
      padding-right: 10px;
    }

  }

  .fields-list-container {
    border:none;
  }

  .image-col .image {
    background-color: #fafafa;
    border: 1px dashed #ccc;
    cursor: pointer;
    padding: 30px 20px;

    p{
      pointer-events: none;
    }

    &:hover {
      border: 1px dashed $brand-primary;
    }

  }


}
