.filelists {
  .medias-dropfiles{
    border: 2px dotted #dcdcdc;
    padding: 30px 50px;
  }



  .content-add {

    h4{
      font-size: 18px;
      line-height: 20px;
      padding: 0;
      margin: 0;
      margin-bottom:5px;
    }

    border:1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 5px;
    padding:10px;

    .tool-box {
      position: absolute;
      right: 0px;
      top: 5px;

      a {
        padding-right: 15px;
      }
    }

    .filename-list {
      width:80%;
    }

    .filefields-list {
        width:30%;
        display: inline-block;
        padding-right: 5px;
    }
    .filefields-list-last {
        width:30%;
        display: inline-block;
        padding-right: 5px;
    }


  }
}
