img { width:100%;height:auto; }
a, a:hover, a:visited { color: rgba(0,0,0,1.00); }
* { box-sizing: border-box;}
h3 { font-weight: 300; text-transform: uppercase;font-size:18px;margin:0;}
header {
	box-shadow:0 7px 8px rgba(0,0,0,0.07);
	position:relative;
	z-index:2;
}
article {
	padding-bottom:60px;
}
body {
	font-size:16px;
	line-height:140%;
}
/* ----------------- */

.trade a, .trade a:hover, .trade a:visited, .trade .list-items ul.opcions a { color: rgba(197,67,69,1.00);}
.mediac a, .mediac a:hover, .mediac a:visited, .mendiac .opcions a { color: rgba(48,129,82,1.00);}
.corpo a, .corpo a:hover, .corpo a:visited, .corpo .opcions a { color: rgba(34,58,120,1.00);}
.blog a, .blog a:hover, .blog a:visited, .blog .opcions a { color: rgba(207,170,30,1.00);}


.trade .navbar a, .trade .navbar a:hover, .trade .navbar a:visited, .trade .list-items ul.opcions a,
.mediac .navbar a, .mediac .navbar a:hover, .mediac .navbar a:visited, .mendiac .opcions a,
.corpo .navbar a, .corpo .navbar a:hover, .corpo .navbar a:visited, .corpo .opcions a,
.blog .navbar a, .blog .navbar a:hover, .blog .navbar a:visited, .blog .opcions a {color: rgba(0,0,0,1.00);}


.trade .navbar-nav > .active > a, .widget.trade h3, .claim.trade h1,.trade.single h2  {color: rgba(197,67,69,1.00);}
.mediac .navbar-nav > .active > a, .widget.mediac h3, .claim.mediac h1,.mediac.single h2 {color: rgba(48,129,82,1.00);}
.corpo .navbar-nav > .active > a, .widget.corpo h3, .claim.corpo h1,.corpo.single h2  {color: rgba(34,58,120,1.00);}
.blog .navbar-nav > .active > a, .widget.blog h3, .claim.blog h1,.blog.single h2 {color: rgba(207,170,30,1.00);}


.widget.slider.promo.trade .item{ background-color: rgba(197,67,69,1.00);}
.widget.slider.promo.mediac .item { background-color: rgba(48,129,82,1.00);}
.widget.slider.promo.corpo .item { background-color: rgba(34,58,120,1.00);}
.widget.slider.promo.blog .item { background-color: rgba(207,170,30,1.00);}

.widget.trade h3, .claim.trade h1  .single h2{ color: rgba(197,67,69,1.00);}


.row ul, .destacats ul { margin:0; padding:0; list-style: none; }
.white { margin-top:40px;}
.grey { background-color:rgba(245,245,245,1.00); overflow:hidden; margin-top:40px;}
.dark-grey {background-color: rgba(225,225,225,1.00);margin-top:40px;}
.grey-intro{background-color: rgba(238,238,238,1.00);margin-top:40px;}
.col-5 { float:left; width:20%; }
.no-margin {margin:0;}

.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
 #map {
    width: 100%;
    height: 400px;
    background-color: grey;
	margin-top: 32px;
	margin-bottom:20px

      }
.single h2 {
	font-weight:200;
	font-size:22px;

}
.single article ul {
	padding-left:20px;
	margin-left:20px;
	list-style: disc;
	line-height:25px;
}
.single article p {
	margin-bottom:22px;
	line-height:25px;
}
.single article .banner p {
	margin:0;
	line-height:auto;
}
/* ------------------ COMUNS */

.promo-text, .programes, footer .links{
	padding-top:40px;
}
.promo-image-text {
	padding-top:40px;
	padding-bottom:20px;
}
.panel-title {
	font-weight:300;
    font-size: 18px;
}
.widget.list-items,.banner,input,.nova-cerca,.form-cerca,.panel-default, .panel-default > .panel-heading {
	border: 1px solid rgba(229,229,229,1.00);
}
.panel-default > .panel-heading {
	border: 0px;
}
.banner.estadistiques, .banner.newsletter,.widget.list-items, .nova-cerca, .form-cerca {
	padding-left:15px;
	padding-right:15px;
	padding-bottom:20px;
	padding-top:15px;
	position:relative;
}
 .widget.slider {
	padding-top:16px;
	position:relative;
}
.banner-image img {
	height:116px;
}
.banner.banner-image {
	padding:0px;
}
.banner {
	min-height:116px;
	padding: 15px;
	padding-bottom: 20px;
}
.widget, .banner{
	line-height:130%;

}
.widget h3, banner h3{
	padding-bottom:15px;
}
/* ------------------ HEADER */
.corporatiu {
    margin-top:20px;
	margin-bottom: 20px
}
.corporatiu img {
	width:auto;
}
.col-md-3.col-sm-3.col-xs-12 {
    float:right;
    display:table;
}
.idiomes {
    text-align: right;
    text-transform: uppercase;
    padding-top:44px;
    font-size: 10px;
    vertical-align: bottom;
}
.idiomes ul {
	padding:0;
	margin:0;
}
.idiomes li {
	display:inline-block;
	margin-left:7px;
}
.idiomes a {
	color: rgba(0,0,0,1.00)!important;
}
.idiomes .current {
	font-weight: 600;
}
.navbar-header {
    text-align: center;
}
.navbar-toggle {
	margin-left:0px;
	margin-right:0px;
	float:none;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 32px;
    height: 4px;
    border-radius: 0px;
	background-color: rgba(0,0,0,1.00);
}

.navbar-nav.menu-general {
    font-size:16px;
    text-transform:uppercase;
}
.navbar-nav.menu-general .dropdown-menu {
    font-size:16px;
    text-transform:none;
}
form.dropdown-menu {
    padding: 10px;
}
form.dropdown-menu label{
	display:none;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;

}
.link-twitter {
	background-image: url(../images/icon-twitter.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:30px;
	float:left;
	line-height:42px;
	margin:0px;
}
.dropdown-menu .image p {
	font-size:14px;
}
/* .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color:rgba(255,255,255,1.00);
	border: 1px solid rgba(76,76,76,1.00);
	border-bottom: rgba(255,255,255,1.00);
} */
/* ------------------ DETALL SINGLE */
.detalls-single {
	padding-top:14px;
	padding-bottom:10px;
	overflow:hidden;
	font-size:14px;
}
.ariadna {
	padding-left: 17px;
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
}
.detalls-single .seleccio {
	position: relative;
	padding-left: 22px;
	background-image: url(../images/seleccionar-producte2.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	line-height: 22px;
	padding-top: 4px;
}
.detalls-single .seleccio span{
	position: absolute;
	border-radius: 14px;
	background-color: rgba(0,0,0,1.00);
	color: rgba(255,255,255,1.00);
	width: 15px;
	display: inline-block;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	height: 15px;
	line-height: 15px;
	left: 2px;
	top: 0px;
}

/* ------------------ CLAIM */
.claim{
	text-align:center;
	font-size:16px;
	line-height:26px;
	padding-top:30px;
	padding-bottom:20px;
}
.single .claim {
	padding-bottom:40px;
}
.claim h1 {
	font-size:30px;
	margin:0;
	font-weight:200;
	margin-bottom: 16px
}

.single .claim h1 {
	font-size:36px;
}
.seleccio-button {
	text-align: center;
	padding: 10px;
	border: 1px solid rgba(229,229,229,1.00);
	background-color: rgba(255,255,255,1.00);
	position: absolute;
	top: -20px;
	width: 100%;
}
.seleccio-button a {
	display: inline-block;
}
/*
.seleccio-button a:before{
	content: " ";
	background-image: url(../images/seleccionar-producte.png);
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 35px;
	margin-right:5px;
}
*/
/* ------------------ CARROUSEL */
.carousel-caption {
	background-color: rgba(255,255,255,0.7);
}
.carousel-caption h3 {
	font-size:26px;
}
/* ------------------ LIST ITEMS */

.list-items ul {
	margin:0;
	padding:0;
	list-style: none;
}
.list-items li {
	clear:both;
	overflow:hidden;
	padding-bottom:15px;
}
.single .list-items li {
	clear:none;
	overflow:hidden;
	padding-bottom:25px;
}
.single .list-items .opcions li, .single .list-items ul.text li, .list-items .detalls li, .list-items p.adreca  {
	padding-bottom:0px;
	text-transform: none;
}


.widget.list-items li:nth-child(2n +1) {
		clear:both;
	}

.widget.list-items #carousel-multiple li {
	clear:none!important;
	float:left;
}



.single .list-items li:nth-child(3n +1), .widget.list-items.full li:nth-child(3n +1) {
	clear:both;
}
.single .list-items.banc-media li:nth-child(3n +1), .widget.list-items.full li:nth-child(2n +1) {
	clear:none;
}
.single .list-items.banc-media li:nth-child(4n +1) {
	clear:both;
}

@media (max-width: 768px) {
	.single .list-items li:nth-child(2n +1) {
		clear:both;
	}
	.single .list-items li:nth-child(3n +1) {
		clear:none;
	}

	.single .list-items.banc-media li:nth-child(2n +1) {
		clear:none;
	}
	.single .list-items.banc-media li:nth-child(4n +1) {
		clear:none;
	}

	.single .list-items.banc-media li:nth-child(3n +1) {
		clear:both;
	}
}

.list-items .image, .dropdown-menu .image p.image {
	margin:0;
	width:30%;
	float:left;
}

.list-items.banc-media.image .media {
	margin:0;
	width:30%;
	float:left;
	height:auto;
}

.list-items.banc-media .media {
    margin: 0;
    margin-bottom: 9px;
    width: 100%;
    height: 215px;
    float: none;
    position:relative;
	text-align:center;
	background-color:rgba(0,0,0,0.03)
}
.list-items.banc-media.image .media img, .list-items.banc-media.image .media iframe {
    position: inherit;
    top: 0;
    left:0;
	 -ms-transform: translate(0%,0%); /* IE 9 */
    -webkit-transform: translate(0%,0%); /* Safari */
    transform: translate(0%,0%);
    max-width: 100%;
    width: auto;
    max-height: 100%;
}
.list-items.banc-media .media img, .list-items.banc-media .media iframe {
    position: absolute;
    top: 50%;
    left:50%;
	 -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    transform: translate(-50%,-50%);
    max-width: 100%;
    width: auto;
    max-height: 100%;
}
.list-items.banc-media .expand {
   	position:relative;
	margin:0;
	margin-left:calc(100% - 25px);
    margin-top:-37px;
	margin-bottom:9px;
	width:20px;
}
.list-items.banc-media.image .expand {
    position: relative;
    z-index: 13;
    margin: 0;
    left: -25px;
    bottom: 0px;
    width: auto;
    float: left;
}
.list-items.banc-media.image .expand a {
	margin:0;
}
.list-items ul a, .list-items ul a:hover, .list-items ul a:visited {
	color: rgba(0,0,0,1.00);
}
.list-items.buttons ul .titol{
	float:left;
	width:60%;
}
.list-items.buttons .display-buttons {
	width:40%;
	float:right;
	padding-top:3px;
}
.list-items.buttons .btn {
	width:calc(50% - 5px);
	margin-left:5px;
	padding:3px;
	border-radius:2px;
	text-transform: uppercase;
	font-size:8px;
	font-weight:600;
	background-color: rgba(245, 245, 245, 1.00);
	text-align:center;
	float:right;
	border:none;
}
.list-items.banc-media.buttons .btn {
    width: 50%;
    margin-left: calc(30% + 9px);
    margin-top:9px;
    padding: 5px;
    border-radius: 2px;
    font-size: 10px;
    background-color: rgba(245, 245, 245, 1.00);
    float: none;
}

.single .list-items .opcions {
	font-size:11px;
	width:auto;
	margin-top:5px;
}
.single .list-items .opcions:nth-last() {
	margin-top:0px;
}
.list-items .button {
	font-size: 14px;
	border-top: 1px dotted rgba(165,165,165,1.00);
	margin:0;
	padding-top:15px;
	text-align:center;
 }

.list-items .text , .slider .text, .list-items .detalls  {
	font-size:11px;
	text-transform: uppercase;
	margin-top:0;
	margin-bottom:0;
	padding-bottom:0px;
}
.list-items p.adreca {
	font-size:11px;
	margin-top:0;
	margin-bottom:0;
	padding-bottom:0px;
	line-height:170%;
}
.list-items .detalls {
	text-transform: none;
	margin-top:5px;
}
.list-items li a {
	display:block;
}
.list-items li .text a {
	display:inline-block;
}
.list-items li .intro {
	display:block;
	font-size:13px;
	line-height:130%;
	padding-top:3px;
	margin-bottom:0;
}
.list-items.banc-media li  p.titol {

	margin-bottom:12px;
}

.list-items li p.titol {
	line-height:130%;
	margin-bottom:5px;
	padding-top:5px;
}
.widget.list-items li p.titol {
	line-height:130%;
	margin-bottom:0px;
	padding-top:0px;
}
.list-items.image li a, .list-items.image li .intro, .list-items.image .text, .single .list-items.image a.opcions, .list-items.image .detalls, .list-items.image li p.titol, .list-items.image p.adreca, .dropdown-menu .image p {
	margin-left:calc(30% + 10px)
}
.list-items.image li .text a {
	margin-left:3px;
	margin-right:3px;
}
.list-items .detalls li, .list-items p.detalls {
	line-height:170%;
	padding-left:10px;
	border-left:1px dotted rgba(0,0,0,0.3);
}
.list-items .text a {
	color:rgba(0,0,0,1)!important;
}
/* ----------------- PROMOS */

.promo-text h3 {font-size: 20px;padding-bottom:10px;}

.promo-image-text {
	text-align:center;
	padding-left:40px;
	padding-right:40px;
}
.promo-image-text a {
	 font-weight: 300;
	text-transform: uppercase;
	font-size:11px;
}
.promo-image-text img {
	width:auto;
	height:auto;
	max-width:100%;
}
.promo-image-text p {
	margin:0;
}
/* --------------------- WIDGETS */
.widget.list-items ul {
	padding-bottom:5px;
	padding-top:10px;
	overflow:hidden;
}
.widget.list-items li {
	clear:none;
}
.widget.video iframe{
	width:100%;
	height:326px;
}
.widget.slider .carousel .item {
/*	height:326px;
	overflow:hidden;
	*/
}

.widget.slider .carousel img {
/*	height:248px;
	position:absolute;
	left:50%;
	 -ms-transform: translateX(-50%); /* IE 9 */
  /*  -webkit-transform: translateX(-50%); /* Safari */
  /*  transform: translateX(-50%);
	*/
}
.widget.slider .carousel-inner {
  /*  height:326px; */
}
/* --------------------- BANNERS */

.banner p {
	margin:0;
}

.banner.estadistiques {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url(../images/banner-estadistiques.png);

}

.banner.newsletter form{
	position:absolute;
	bottom:15px;
	width:calc( 100% - 30px);
}

/* --------------------- FORMS */

.navbar-nav > .boto-search  {
	background-color: rgba(255,255,255,1.00);
	background-image: url(../images/icon-search.png);
	background-repeat: no-repeat;
	background-position: right center;
	color: rgba(0,0,0,0.00);
	width: 32px;
	height: 42px;
	border:0;
	float:right;
	border-left:1px solid rgba(127,127,127,1.00);
	border-radius: 0px;
}
form.buscar {
    float: none;
    position: absolute;
    bottom: 0px;
    left:0px;
    z-index: 100;
    width: calc(100% - 21px);
	display: none;
}
.col-md-12.buscar.obert{
	display:block; /* show on click boto-search */
}
.buscar input {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
	border: 1px solid rgba(0,0,0,1.00);
}
.nova-cerca, .form-cerca {
	overflow:hidden;
}
.form-cerca label {
	display:none;
}
.form-cerca label {
	display:none;
}
.newsletter input[type="submit"]   {
	background-color: rgba(255,255,255,1.00);
	background-image: url(../images/newsletter-button.png);
	background-repeat: no-repeat;
	background-position: center center;
	color:rgba(0,0,0,0.00);
	width:37px;
	height:37px;
	margin-left:1px;
}
.newsletter input[type="email"] {
	background-color: rgba(245,245,245,1.00);
	width: calc(100% - 38px);
	height:37px;
	float:left;
}
.form-cerca input[type="text"] {
	background-color: rgba(245,245,245,1.00);
	width: 100%;
	height:37px;
	float:left;
}
.nova-cerca h2 {
	margin-top:0px;
}
.nova-cerca-select {


	overflow:hidden;display:inline-block;

}
.nova-cerca-select select {
	background-color: transparent;
	width: 100%;
	height: 37px;
	border: none;
	border-radius: 0px;
	-moz-appearance: none;
	-webkit-appearance: none;
	padding-left: 20px;
	background-image: url(../images/dropdown.png);
	background-repeat: no-repeat;
	background-position: right center;
	border-left: 1px solid rgba(229,229,229,1.00);
}
.list-forms label {
	width:30%;
}
.list-forms.empty label {
	color: rgba(0,0,0,0.41);
}
.list-forms select {
    background-color: transparent;
    width:60%;
    height: 20px;
    border: none;
    border-radius: 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 10px;
	padding-right:35px;
    background-image: url(../images/dropdown-14.png);
    background-repeat: no-repeat;
    background-position: right center;
    border-left: 1px solid rgba(229,229,229,1.00);
}
.list-forms.empty select {
	opacity:0.41;
}
.form-cerca input[type="date"]{
	background-color: rgba(245,245,245,1.00);
	border: 1px solid rgba(229,229,229,1.00);
	width: 100vw;
	height: 0vh;
}
/* ------------------------- MODALS */

.back-modal {
	width:100vw;
	height:100vh;
	position:absolute!important;
	top:0;
	background-color: rgba(0,0,0,0.68);
	z-index:1000;

}
.modal-turisme {
	position:absolute!important;
	top:50%;
	left:50%;
	padding:40px;
	padding-bottom:30px;
	box-shadow:0 0 10 rgba(0,0,0,0.4);
	background-color:rgba(255,255,255,1.00);
	text-align:center;
	 -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    transform: translate(-50%,-50%);
}
.modal-turisme p {

	padding-left:80px;
	padding-right:80px;
}
.modal-turisme h2 {
	font-size:50px;
	margin-top:0px;
	margin-bottom:40px;
	color:rgba(0,0,0,1.00)!important;

}
.modal-turisme .links a{
	color: rgba(154,154,154,1.00);
}
.modal-turisme .links {
	border-top: 1px solid rgba(229,229,229,1.00);
	margin-top:50px;
	padding-top:20px;
	margin-bottom:0px;
}
.modal-turisme a {
	text-decoration:underline!important;
}
/* ------------------------- FOOTER */

footer .list-items  h3 {
	color:rgba(35,59,121,1.00);
	margin-bottom:15px;
}
footer .list-items li {
	font-size:12px;
}
.programes li {
	width:33%;
	float:left;
	clear:none;
	padding-right:20px;
	padding-bottom:9px;
}
/* ------------------------- BOOSTRAP */

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	padding:0;
}
nav.navbar.navbar-default {
    background-color:rgba(255,255,255,1.00);
	border-color:transparent;
	margin-top:33px;
	margin-bottom:0px;
}
.navbar-nav > li > a {
    line-height: 42px;
}
.navbar-form  .form-control {
	display:none;
}
.panel-default > .panel-heading {

    background-color: rgba(245, 245, 245, 1.00);
    border-color: #ddd;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: rgba(0,0,0,1);
    background-color: transparent;
}
.panel-heading, .panel-group .panel {
    border-radius: 0px;
}
.carousel-caption {
	right: auto;
    bottom: 30px;
    left: 81px;
	padding-left:20px;
	padding-right:20px;
    padding-top: 20px;
	height:100px;
    color: #000;
    text-align: left;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.widget.slider .carousel-caption {
	padding-left:0px;
	padding-right:0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .3)), to(rgba(0, 0, 0, .0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .3) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .3) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .3)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
/* Carrousel2 */

.widget .carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
	height:25px;
	top:-37px;
	border-left:1px solid;
	padding:0;
	width:25px;
	padding-right:5px;
}
.widget .carousel-control.left {
    right: 25px;
    left: auto;
    background-image: none;
	height:25px;
	top:-37px;
	padding:0;
	width:25px;
	padding-right:5px;
}

.widget .carousel-control .glyphicon-menu-left, .widget .carousel-control .glyphicon-menu-right, .widget .carousel-control .icon-prev, .widget .carousel-control .icon-next {
    width: 25px;
    height: 25px;
    text-align: center;
    margin: auto;
    right: auto;
    left:auto;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    top: auto;
    bottom: 0px;
    position: relative;
    color: #000;
    text-shadow: none;
    line-height: 25px;
}

.widget .carousel-caption {
	width:100%;
	left:0;
	bottom:0px;
	background-color:rgba(0,0,0,0);
	padding-bottom:0px;
	height:80px;
}
.widget.after-carousel {
  /*  margin-top: 33px; */
}
.widget.slider.promo a {
	color: rgba(255,255,255,1.00);
	font-size:16px;
}

/* Carrousel-single */


#carousel-single .carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
	height:25px;
	top:auto;
	bottom:30px;
	border-left:1px solid;
	padding:0;
	width:25px;
	padding-right:5px;
}
#carousel-single .carousel-control.left {
    right: 25px;
    left: auto;
    background-image: none;
	height:25px;
	bottom:30px;
	top:auto;
	padding:0;
	width:25px;
	padding-right:5px;
}

#carousel-single .carousel-control .glyphicon-menu-left, #carousel-single .carousel-control .glyphicon-menu-right, #carousel-single .carousel-control .icon-prev, #carousel-single .carousel-control .icon-next {
    width: 25px;
    height: 25px;
    text-align: center;
    margin: auto;
    right: auto;
    left:auto;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    top: auto;
    bottom: 0px;
    position: relative;
    color: #000;
    text-shadow: none;
    line-height: 25px;
}

#carousel-single .carousel-caption {
	width: 100%;
	left: -1px;
	background-color: rgba(0,0,0,0);
	padding-bottom: 0px;
	height: 55px;
	bottom: -59px;
	font-size: 12px;
	padding: 0;
	padding-right: 100px;
}
#carousel-single.after-carousel {
    margin-top: 33px;
}
#carousel-single .carousel-caption a {
	color: rgba(255,255,255,1.00);
	font-size:16px;
}
#carousel-single .carousel-inner{
	padding-bottom:60px;
}

.carousel-caption {
    position:static;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: left;
    text-shadow: 0;
}
#carousel-full .carousel-caption {
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}


.widget .col-xs-1, .widget .col-sm-1, .widget .col-md-1, .widget .col-lg-1, .widget .col-xs-2, .widget .col-sm-2, .widget .col-md-2, .widget .col-lg-2, .widget .col-xs-3, .widget .col-sm-3, .widget .col-md-3, .widget .col-lg-3, .widget .col-xs-4, .widget .col-sm-4, .widget .col-md-4, .widget .col-lg-4, .widget .col-xs-5, .widget .col-sm-5, .widget .col-md-5, .widget .col-lg-5, .widget .col-xs-6, .widget .col-sm-6, .widget .col-md-6, .widget .col-lg-6, .widget .col-xs-7, .widget .col-sm-7, .widget .col-md-7, .widget .col-lg-7, .widget .col-xs-8, .widget .col-sm-8, .widget .col-md-8, .widget .col-lg-8, .widget .col-xs-9, .widget .col-sm-9, .widget .col-md-9, .widget .col-lg-9, .widget .col-xs-10, .widget .col-sm-10, .widget .col-md-10, .widget .col-lg-10, .widget .col-xs-11, .widget .col-sm-11, .widget .col-md-11, .widget .col-lg-11, .widget .col-xs-12, .widget .col-sm-12, .widget .col-md-12, .widget .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 0px;
}
@media screen and (min-width: 768px) {

	.carousel-caption {
		width:calc(100% - 162px)
	}

    .carousel-indicators {
        bottom: -5px;
    }
    .carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-prev, .carousel-control .icon-next {
        width: 80px;
        height: 100px;
        background-color: rgba(255, 255, 255, 1);
        font-size: 30px;
        top: auto;
        bottom: 30px;
        position: absolute;
        color: #000;
        text-shadow: none;
        line-height:100px;
    }

	.carousel-control .icon-prev, .carousel-control .glyphicon-menu-left {
    left: 0;
	margin-left: 0px;
	}

	.carousel-control .icon-next, .carousel-control .glyphicon-menu-right {
    right: 0;
    margin-right: 0px;
	}
}






/* NAV BAR */

.navbar-collapse {
    padding-right: 15px;
    padding-left: 0px;
}
.navbar {
    margin-bottom: 0px;
    min-height: 0px;
}
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}

.nav > li > a {
    padding:0;
}
.menu-general > li > a {
    padding: 0px 12px;
}
