
//MAIN VARIABLES

// Body
$body-bg: #fff;

// Layout colors

$brand-light-color-1: #c7c9cd;  //login area backgournd gray
$brand-light-color-2: #565555;  //main gray buttons
$brand-light-color-3: #e0e0e0;  //sof offer gray;
$brand-light-color-5 : #af3e69; //pink hover buttons


$brand-color-1 : #7d7c7c; //gray blue baackground buttons
$brand-color-2 : #c41a1b; //dark red, buttons



$brand-light-color-4: #aab2c5;  //main gray footer icons
$brand-light-color-6 : #eff2f5; //gray background results
$brand-light-color-7 : #cd1b6a;  //pink num results text
$brand-light-color-8 : #727fa0;  //gray date results text

$brand-dark-color-1 : #394050; //black blue home-header
$brand-dark-color-2 : #51667a; //black blue home-footer

$brand-color-3 : #e0e5ea; //gray background offer
$brand-color-4 : #c1cbd5; //gray background profil
$brand-color-5 : #f0f0f2; //gray soft related offers
$brand-color-6 : #620719;  //dark red search responsive


$brand-font-1 : 'Lato', sans-serif;


