#customer_users {

  margin-left: -30px;
  margin-right: -40px;

  .fields-list-container{
      border:none;
      margin-bottom: 0px;
      padding-bottom:0px !important;
  }

  .add-content-button {
    border: 1px dashed #ccc;
    padding: 0 20px;
    margin-left: 0px;
    text-align: center;
    margin-right: 0px;
  }

  .field-type{
    font-weight:300 !important;
    color: #b4b4b4 !important;
    text-align: left;
  }

  .field-inputs .field-name{
    line-height: 18px;
    text-align: left;
    padding-left: 30px;
    height: 18px;
    font-size:12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  &.images-field {
    .image {
      width: 51px;
      height: 40px;
      background-size: cover;
      position: absolute;
      top: 5px;
      left: 155px;
    }

    .field-name {
      padding-left:60px;
    }
  }

  .typology-field {
    border:1px solid #ccc;
    position:relative;
    height:50px;
    overflow: hidden;
    margin-bottom:15px;
    background-color: #fafafa;
    @include round(6px);

    .form-group .form-control, .form-group .cke_textarea_inline{
      border-top:none;
      border-left:none;
      border-right:none;
      padding : 0 10px;
    }

    .field-type {
      display: inline-block;
      width:30px;
      position:absolute;
      top: 0px;
      left: 0px;

      @include font(14,50,500);
      padding-left:32px;
      border-right: 1px solid #ccc;

      i.fa{
        position:absolute;
        top: 16px;
        left: 10px;
        font-size: 16px;
        padding-right: 10px;
        color:#b4b4b4;
      }

    }

    .field-inputs {
      position:relative;
      padding-left: 14px;
      padding-right: 38px;
      padding-top: 5px;
      cursor: pointer;
      &:hover {
        .field-name {
          color : $brand-primary;
        }
      }
    }

    .remove-field-btn{
      color:$brand-danger;
    }

    .field-name {
      &:first-child {
        font-weight: 500;
      }
    }

    .field-id {

    }

    .field-actions {
      position: absolute;
      top:0px;
      right:0px;
      width: 30px;
      border-left: 1px solid #ccc;
      padding-left: 10px;

      a{
        @include font(12,50,400);
        display: inline-block;
      }


    }

  }


}
